
.carousel { display: inline-block; width: 210px; height: 140px; }

/*#carousel1 { float: left }
#carousel3 { float: right }*/

.slot-machine-controls { text-align: center; }
.slot-machine-controls button.spin { width: 8em; }
